*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: conic-gradient(from 90deg at 50% 50%, #C156C2 -7.97deg, #F25656 19.27deg, #FBD03B 112.8deg, #56C4F5 214.91deg, #C156C2 352.03deg, #F25656 379.27deg) fixed;
  padding: clamp(5px, 1vw, 25px);
  display: grid;
  place-items: center;
  font-size: clamp(16px, 5vw, 24px);
  line-height: 1.4;
}

.main {
  min-width: 320px;
  max-width: 960px;
  width: 100%;
}

.select-year {
  list-style: none;
  margin: 0;
  margin-bottom: 2em;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding: clamp(0px, 5vw, 25px) clamp(10px, 5vw, 50px);
  border-radius: 10px;
  color: #000000;
}

.select-year a {
  color: inherit;
}

.select-year a:hover {
  text-decoration: none;
}

.properties-of-year {
  background-color: #ffffff;
  padding: clamp(0px, 5vw, 25px) clamp(10px, 5vw, 50px);
  border-radius: 10px;
  margin-bottom: 2.5em;
}

.properties-of-year h2 {
  margin-top: 0.25em;
}

.title {
  margin-bottom: 0.5em;
}

.properties {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.properties__item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  padding: 10px 20px 15px;
  margin-top: 1.5em;
  margin-bottom: .5em;
  border-radius: 4px;
}

.properties__wrapper {
  display: flex;
}

.properties__title {
  margin-right: 10px;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.properties__links {
  display: flex;
  column-gap: 8px;
}

.properties__link {
  color: #ffffff;
  background-color: tomato;
  border-radius: 5px;
  padding: 3px 7px;
  text-decoration: none;
}

.properties__link--spec {
  background-color: darkblue;
}

.properties__link--mdn {
  background-color: blueviolet;
}

.properties__link--caniuse {
  background-color: mediumvioletred;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

.github-corner {
  position: absolute;
  top: 0;
  border: 0;
  right: 0;
}

.github-corner svg {
  fill: white;
  color: #151513;
}

.github-corner .octo-arm {
  transform-origin: 130px 106px;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0); }
  20%,
  60% {
    transform: rotate(-25deg); }
  40%,
  80% {
    transform: rotate(10deg); }
}
