:root {
  --color-outline: oklch(0 0 0);
  --color-background-page:
    linear-gradient(179.87deg,
      oklch(50.52% 0.734 291.04 / 0.12) 0.11%,
      oklch(24.08% 0.520 303.70 / 0) 99.89%);
  --color-background-section: oklch(0.658 0.186 281.032 / 0.12);
  --color-background-item: oklch(1 0 89.876 / 0.6);
  --color-background-button: linear-gradient(73.27deg, oklch(0.432 0.299 264.052) -25.49%, oklch(0.616 0.288 311.143) 97.39%);
  --color-text: oklch(0 0 0);

  --color-octocat: #151513;
  --color-octocat-background: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid var(--color-outline);
  outline-offset: 0.2rem;
  border-radius: 0.125rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: ui-system, sans-serif;
  background: var(--color-background-page) fixed;
  color: var(--color-text);
  font-size: 20px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) minmax(280px, 780px) minmax(20px, 1fr);
  grid-template-areas: ". content .";
}

.main {
  grid-area: content;
}

.select-year {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  background-color: var(--color-background-section);
  border-radius: 8px;
  padding: 20px;
  margin-block-end: 32px;

  a {
    color: oklch(0 0 0);
  }
}

.properties-of-year {
  background-color: var(--color-background-section);
  border-radius: 8px;
  padding: 20px;
  margin-block-end: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;

  h2 {
    margin-block: unset;
  }
}

.property {
    border-radius: 8px;
    padding: 16px;
    background-color: var(--color-background-item);
    display: grid;
    row-gap: 16px;
    grid-template-columns: [full-start] 1fr  min-content [full-end];

  h3 {
    margin-block: unset;
  }

  div {
    grid-column: full;
    display: flex;
    flex-wrap: wrap;
    gap: 8px 16px;
  }

  a {
    background: var(--color-background-button);
    color: oklch(1 0 89.876);
    font-weight: 500;
    padding: 8px 16px;
    border-radius: 8px;
    text-decoration: unset;
    display: inline-block;
  }
}

/* Octocat */
.github-corner {
  position: absolute;
  inset-block-start: 0;
  border: 0;
  inset-inline-end: 0;

  svg {
    fill: var(--color-octocat-background);
    color: var(--color-octocat);
  }
}

.octo-arm {
  transform-origin: 130px 106px;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}
