:root {
  --color-outline: oklch(0 0 0);
  --color-background-page:
    linear-gradient(179.87deg,
    oklch(50.52% 0.734 291.04 / 0.12) 0.11%,
    oklch(24.08% 0.520 303.70 / 0) 99.89%);
  --color-background-section: oklch(0.658 0.186 281.032 / 0.12);
  --color-background-item: oklch(1 0 89.876 / 0.6);
  --color-background-button: linear-gradient(73.27deg, oklch(0.432 0.299 264.052) -25.49%, oklch(0.616 0.288 311.143) 97.39%);
  --color-text: oklch(0 0 0);

  --color-octocat: #151513;
  --color-octocat-background: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid var(--color-outline);
  outline-offset: 0.2rem;
  border-radius: 0.125rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: ui-system, sans-serif;
  background: var(--color-background-page) fixed;
  color: var(--color-text);
  font-size: 20px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(320px, 780px) minmax(0, 1fr);
  grid-template-areas: ". content .";
}
