:root {
  --color-outline: oklch(0% 0 0deg);
  --color-background-page:
    linear-gradient(179.87deg,
    oklch(50.52% 0.734 291.04deg / 12%) 0.11%,
    oklch(24.08% 0.520 303.70deg / 0%) 99.89%);
  --color-background-section: oklch(65.8% 0.186 281.032deg / 12%);
  --color-background-item: oklch(100% 0 89.876deg / 60%);
  --color-background-button: linear-gradient(73.27deg, oklch(43.2% 0.299 264.052deg) -25.49%, oklch(61.6% 0.288 311.143deg) 97.39%);
  --color-text: oklch(0% 0 0deg);
  --color-octocat: #151513;
  --color-octocat-background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-outline: oklch(80% 0.02 280deg);
    --color-background-page: #222;
    --color-background-section: oklch(25% 0.02 280deg / 70%);
    --color-background-item: oklch(30% 0.02 280deg / 80%);
    --color-background-button: linear-gradient(73.27deg, oklch(35% 0.12 260deg) -25.49%, oklch(40% 0.15 300deg) 97.39%);
    --color-text: oklch(95% 0.005 280deg);
    --color-octocat: #e8e8e8;
    --color-octocat-background: #333;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus-visible {
  outline: 3px solid var(--color-outline);
  outline-offset: 0.2rem;
  border-radius: 0.125rem;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: ui-system, sans-serif;
  background: var(--color-background-page) fixed;
  color: var(--color-text);
  font-size: 20px;
  line-height: 1.3;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(320px, 780px) minmax(0, 1fr);
  grid-template-areas: ". content .";
}
