---
import Base from '../layouts/Base.astro';
import Github from '../components/Github.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import SelectYear from '../components/SelectYear.astro';
import CssEra from '../components/CssEra.astro';
import Properties from '../components/Properties.astro';
import YearlyChart from '../components/YearlyChart.astro';
import Hero from '../components/Hero.astro';
import {data} from '../data/data.js';

const listYears = Object.keys(data).reverse();
---

<Base>
  <main class="main">
    <Hero />
    
    <YearlyChart />
    
    <section class="controls">
      <SelectYear listYears={listYears} />
      <CssEra />
    </section>
    
    <Properties properties={data} />
  </main>
  <Github />
  <ScrollToTop />
</Base>

<style>
  .main {
    grid-area: content;
    padding: 2rem 0;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
  }
  
  /* Адаптивность */
  @media (max-width: 768px) {
    .main {
      padding: 1rem 0;
    }
    
    .controls {
      gap: 1.5rem;
      margin-bottom: 2rem;
    }
  }
</style>
