---
import '../styles/global.css';
---
<head>
  <meta charset="UTF-8">
  <title>Список всех CSS-свойств</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/apple.png">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="keywords" content="css, properties, types, at-rules">
  <meta name="description" content="Список всех CSS-свойств с датами их появления">
  
</head>
