---
import { getLangFromUrl, useTranslations } from '../i18n/utils';
import '../styles/global.css';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<head>
  <meta charset="UTF-8">
  <!-- Yandex.Metrika counter -->
  <script is:inline type="text/javascript">
    (function(m,e,t,r,i,k,a){
        m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
        m[i].l=1*new Date();
        for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
        k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)
    })(window, document,'script','https://mc.webvisor.org/metrika/tag_ww.js?id=109135924', 'ym');

    ym(109135924, 'init', {ssr:true, clickmap:true, ecommerce:"dataLayer", referrer: document.referrer, url: location.href, accurateTrackBounce:true, trackLinks:true});
  </script>
  <!-- /Yandex.Metrika counter -->
  <title>{t('head.title')}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/apple.png">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="keywords" content="css, properties, types, at-rules">
  <meta name="description" content={t('head.description')}>
</head>
