---
import '../styles/global.css';
---
<head>
  <meta charset="UTF-8">
  <title>CSS-свойства</title>
  <style>
    {% include '../build/style.css' %}
  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="favicon.ico" sizes="any">
  <link rel="icon" href="favicons/favicon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="favicons/apple.png">
  <link rel="manifest" href="manifest.webmanifest">
  <meta name="keywords" content="css, properties, types, at-rules">
  <meta name="description" content="All css properties, rules, at-rules">
</head>
