---
import Property from "../components/Property.astro";
import { data } from '../data/getData.js';
---

<section class="properties-list">
  <h2>Добавлено в 2023</h2>

  {data.map((item) => (
    <Property {...item} />
  ))}
</section>

<style>
  .properties-list {
    --properties-list-color: oklch(0.658 0.186 281.032 / 0.12);

    background-color: var(--properties-list-color);
    border-radius: 8px;
    padding: 20px;
    margin-block-end: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: min(100%, 960px);
    margin-inline: auto;

    h2 {
      margin-block: unset;
    }
  }
</style>
