---
import Property, {PropertyProp} from './Property.astro';

interface PropertiesAstroProps {
  properties: {
    [year: string]: PropertyProp[];
  };
}

const { properties } = Astro.props as PropertiesAstroProps;
---

{Object.entries(properties).reverse().map(([key, properties]) => (
  <section class="properties-of-year" id={`year-${key}`}>
    <h2>Добавлено в {key}</h2>
    {properties.map((property:PropertyProp) => (
      <Property property={property} />
    ))}
  </section>
))}

<style>
  .properties-of-year {
    background-color: var(--color-background-section);
    border-radius: max(
      0px,
      min(8px, calc((100vw - 4px - 780px) * 9999))
    );
    padding: 20px;
    margin-block-end: 32px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    h2 {
      margin-block: unset;
    }
  }
</style>
