---
import Property, {PropertyProp} from './Property.astro';

interface PropertiesAstroProps {
  properties: {
    [year: string]: PropertyProp[];
  };
}

const { properties } = Astro.props as PropertiesAstroProps;
---

{Object.entries(properties).reverse().map(([key, properties]) => (
  <section class="properties-of-year" id={`year-${key}`}>
    <h2>Добавлено в {key}</h2>
    {properties.map((property:PropertyProp) => (
      <Property property={property} />
    ))}
  </section>
))}

<style>
  .properties-of-year {
    background-color: var(--color-background-section);
    border-radius: 0.75rem;
    padding: 2rem 1.25rem;
    margin-block-end: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    box-shadow: 0 2px 8px hsl(0deg 0% 0% / 10%);

    h2 {
      margin-block: unset;
    }
  }
</style>
