---
const {listYears} = Astro.props;
interface Props {
  listYears: string[];
}
---

<nav class="select-year" aria-label="Выбор года">
  <ul>
    {listYears.map((year) => (
      <li>
        <a href={`#year-${year}`}>{year}</a>
      </li>
    ))}
  </ul>
</nav>

<style>
.select-year {
  background-color: var(--color-background-section);
  padding: 1.25rem;
  border-radius: 0.75rem;
  box-shadow: 0 2px 8px hsl(0deg 0% 0% / 10%);
}

.select-year ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem 1rem;
}

.select-year a {
  color: var(--color-text);
  background: var(--color-background-item);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
}
</style>
